<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DatabaseSchemaReader" version="2.10.1" targetFramework="net48" />
  <package id="DataTables-Editor-Server" version="2.2.2" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="SkbKontur.DbViewer" version="1.7.3" targetFramework="net48" />
  <package id="SQLite" version="3.13.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.5.1" targetFramework="net48" />
  <package id="xunit" version="2.8.0" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.analyzers" version="1.13.0" targetFramework="net48" />
  <package id="xunit.assert" version="2.8.0" targetFramework="net48" />
  <package id="xunit.core" version="2.8.0" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.8.0" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.8.0" targetFramework="net48" />
</packages>